body{
    margin: 0;
}
h1 {
    font-size: 1.8rem;
    font-weight: normal;
    text-align: center;
    background-color: thistle;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}
ul {
    margin: 10px 0;
    text-align: left;
}
li {
    font-size: 0.8rem;
    text-align: unset;
}
